# Marketing
1. Chứng minh xe hybrid > gas
2. Đề xuất hướng để tăng doanh số xe hybrid (và xe electric)

# Data science
1. Xây dựng những bản biểu để thể mối quan hệ của các xe đã bán -> xe hybrid sẽ những đđ lợi nào
2. Xây dựng 1 tham số (metric) từ đó team marketing có thể dựa vào để monitor doanh số xe

In [1]:
import pandas as pd
from ydata_profiling import ProfileReport

c:\Users\LET\AppData\Local\pypoetry\Cache\virtualenvs\data-env-vJljp7Ns-py3.10\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('./data/data.csv')
profile = ProfileReport(df, title="Profiling Report")

In [6]:
profile.to_file("./report.html")

Export report to file: 100%|██████████| 1/1 [00:00<00:00, 53.97it/s]

In [19]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,GT86,2016,16000,Manual,24089,Petrol,265,36.2,2.0
1,GT86,2017,15995,Manual,18615,Petrol,145,36.2,2.0
2,GT86,2015,13998,Manual,27469,Petrol,265,36.2,2.0
3,GT86,2017,18998,Manual,14736,Petrol,150,36.2,2.0
4,GT86,2017,17498,Manual,36284,Petrol,145,36.2,2.0
...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20,58.9,1.0
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125,50.4,1.3
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125,57.6,1.4
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125,50.4,1.3
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125,50.4,1.3

# EDA

In [18]:
def missing_data_info(df):
    """
    Get report of missing value
    """
    missing_values = df.isnull().sum()
    missing_percentages = (df.isnull().sum() / df.shape[0]) * 100

    missing_data_df = pd.DataFrame({'Missing Values': missing_values, 'Missing Percentage (%)': missing_percentages})
    return missing_data_df

missing_data_info(df)

# missing_value(df)

              Missing Values  Missing Percentage (%)
model                      0                     0.0
year                       0                     0.0
price                      0                     0.0
transmission               0                     0.0
mileage                    0                     0.0
fuelType                   0                     0.0
tax                        0                     0.0
mpg                        0                     0.0
engineSize                 0                     0.0

In [9]:
def determine_data_types(df):
    """
    Determine type of data of the columns: 
    - Discrete
        - Boolean
        - Categorical (text or code representation)
        - Large Discrete (finite (less than 31 distinct), number representation)
        - Label (text representation and large number of distinct value)
    - Continuous (infinite, number representation)
    """
    data_types = {}

    for col in df.columns:
        unique_count = df[col].nunique()
        unique_values = df[col].unique()

        if pd.api.types.is_bool_dtype(df[col]) or len(unique_values) <= 2:
            data_types[col] = "Boolean"
        elif len(unique_values) <= 10 and unique_values.dtype == object:
            data_types[col] = "Categorical"
        elif 10 <= unique_count <= 31 and pd.api.types.is_integer_dtype(df[col]):
            data_types[col] = "Large Discrete"
        elif pd.api.types.is_numeric_dtype(df[col]):
            data_types[col] = "Continuous"
        else:
            data_types[col] = "Label"

    return data_types


determine_data_types(df)

{'model': 'Label',
 'year': 'Large Discrete',
 'price': 'Continuous',
 'transmission': 'Categorical',
 'mileage': 'Continuous',
 'fuelType': 'Categorical',
 'tax': 'Large Discrete',
 'mpg': 'Continuous',
 'engineSize': 'Continuous'}